:root {
  --primary: #172A49;
  --white: white;
  --card-1: '#F2CA99';
  --card-selected: transparent;
  --font-title: "Afacad", sans-serif;
  --font-text: "Nunito Sans", sans-serif;
}

.row {
  --bs-gutter-x: 0;
}

.accordion-button:focus {
  box-shadow: none;
}
body {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;
}
.wsp-icon{
  position: fixed;
  width: 50px;
  right: 20px;
  bottom: 20px;
  z-index: 50;
  cursor: pointer;
}

/* CUSTOM CLASS */
.b-r-2 {
  border-right: 2px solid var(--white);
}

.bg-white {
  background-color: var(--white);
  transition: 0.5s;
}

.bg-transparent {
  background-color: transparent;
  transition: 0.5s;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 5rem );
  line-height: clamp(1.5rem, 4vw, 5rem );
  font-weight: bold;
  font-family: var(--font-title);
  color: var(--primary);
}

h3 {
  font-size: 50px;
  line-height: 55px;
  font-family: var(--font-title);
}

h4 {
  color: var(--primary);
  font-family: var(--font-text);
  font-size: 28px;
  font-weight: bold;
}

.px-115 {
  padding: 20px 115px;
}

.title-md {
  font-size: 24px;
  font-family: var(--font-text);
  font-weight: bold;
  line-height: 26px;
}

.text-md {
  font-family: var(--font-text);
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
}

.c-light {
  color: var(--white);
}
.c-primary {
  color: var(--primary);
}


/* NAVBAR */
.navbar {
  padding: 40px 50px;
  width: 100%;
  position: fixed;
  font-family: var(--font-title);
  font-size: 22px;
  z-index: 100;
}
.navbar-brand{
  min-width: 134px;
}

.nav-link {
  padding: 0px 20px !important;
  height: 18px;
  line-height: 18px;
}

.nav-link:hover {
  color: var(--white);
}

.social-container {
  display: flex;
  gap: 25px;
}
.social-container a{
  height: 28px;
}

.icon-social-blue {
  height: 100%;
  opacity: 1;
  transition: 0.5s;
}

.icon-social-white {
  height: 100%;
  opacity: 1;
  transition: 0.5s;
}

.icon-social-navbar:hover {
  cursor: pointer;
}

.amz-logo-navbar {
  width: 109px;
  opacity: 1;
  transition: 0.5s;
}

.amz-logo-navbar-disabled {
  width: 109px;
  transition: 0.5s;
  opacity: 0;
}

.color-white .nav-link {
  color: var(--white);
  transition: 0.5s;
}

.color-blue .nav-link {
  color: var(--primary);
  transition: 0.5s;
}

.color-blue .b-r-2 {
  border-right: 2px solid var(--primary);
}

/* HOMEPAGE */
.homepage-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.video-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 40;
}

.video-content video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.social-homepage{
  position: absolute;
  top: 55%;
}
.social-homepage a{
  text-align: center;
  font-family: var(--font-title);
  font-size: 20px;
  line-height: 30px;
  color: var(--white);
  text-decoration: none;
}

/* Construction System */
.construction-system-container {
  padding: 0px 120px;
  margin-top: 62px;
  margin-bottom: 75px;
  box-sizing: border-box;
  width: 100%;
}

.title-system{
  border-right: var(--primary) solid 3px;
  padding-right: 30px;
}
.title-system h1{
  white-space: nowrap;
}

.text-construction-system {
  line-height: 24px;
  font-size: clamp(1rem, 1.11vw, 1.375rem );
  padding-left: 72px;
  color: var(--primary);
  font-family: var(--font-text);
}

/* CHARACTERISTICS */
.row-container {
  padding: 80px 0px 80px 115px;
  position: relative;
  display: flex;
}

.box-cards-container {
  width: 1070px;
  height: 1075px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 10px 0px;
}

.box-card {
  width: 517px;
  height: 145px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-card img {
  width: 100%;
  cursor: pointer;
}

.title-card {
  width: 265px;
  font-size: 24px;
  font-family: var(--font-text);
  font-weight: bold;
  line-height: 26px;
}

.text-description {
  font-family: var(--font-text);
  font-size: 22px;
  color: var(--primary);
  padding-right: 125px;
}

.image-container {
  width: 100%;
  padding-right: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-image {
  opacity: 0.15;
  width: 100%;
  max-width: 540px;
}

.characteristics-container .accordion-item{  
  background-color: rgba(23, 42, 73, 0.1);
}
.characteristics-container .accordion-header{
  display: none;
}  

 /* BANNER 2*/
 .banner{
  width: 100%;
  height: 780px;
  background-image: url(/public/images/nosotros.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* BANNER 1 */
.banner-container {
  width: 100%;
  height: 867px;
  overflow: hidden;
  position: relative;
}

.img-banner-1 {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.contenedor-frase {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 15;
}

.title-banner {
  position: absolute;
  font-family: var(--font-title);
  color: white;
  z-index: 20;

  font-size: 70px;
  width: 445px;
  text-align: right;
  right: 120px;
  top: 170px;
  line-height: 70px;
  font-weight: bold;
}

/* Commercialization */
.title-commercialization {
  text-align: center;
  padding: 60px 385px;
  margin: auto;
  font-weight: 400;
}

.commercialization-info-container {
  width: 100%;
  min-height: 476px;
  display: flex;
}

.box-1 {
  width: 605px;
  min-width: 508px;
  padding: 0px 0 0px 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-2 {
  width: 100%;
  height: inherit;
  background-image: url(/public/images/fondo-modalidad.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;

  display: flex;
  align-items: center;

}

.box-2 img {
  max-width: 1412px;
}

.box-commercialization-info {
  padding: 0 130px 0 175px;
}

.title-list {
  font-family: var(--font-title);
  font-size: 35px;
  font-weight: 500;
  color: var(--primary);
  line-height: 35px;
  margin-bottom: 20px;
}

.list-modality {
  list-style: decimal;
}

.list-modality li::marker {
  font-family: var(--font-text);
  font-weight: bold;
  font-size: 22px;
}

.list-modality li {
  font-family: var(--font-text);
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 20px;
}

.title-construction-system {
  font-family: var(--font-title);
  font-size: 35px;
  line-height: 35px;
  max-width: 365px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 30px;
}

.number {
  color: var(--primary);
  font-family: var(--font-title);
  font-weight: bold;
  font-size: 120px;
  line-height: 95px;
  opacity: 0.7;
  margin-right: 20px;
}

.box-availability {
  color: var(--white);
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 100px;
}

.availability-info {
  font-size: 22px;
  font-family: var(--font-text);
  line-height: 35px
}

.availability-time {
  font-size: 35px;
  font-family: var(--font-text);
  line-height: 35px
}

/* MORE */
.more-container {
  width: 100%;
  height: 190px;
  background-color: var(--primary);
  background-image: url(/public/images/texture-3.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-btn {
  font-size: 26px;
  font-weight: bold;
  font-family: var(--font-text);
  color: var(--primary);
  background: #94B8C4 0% 0% no-repeat padding-box;
  border-radius: 53px;
  width: 459px;
  height: 78px;

}

/* MODELS */
.title-models{
  padding-left: 115px;
  margin-top: 30px;
}
#models{
  width: 100%;
  height: 1330px;
  padding: 30px 100px;
  max-width: 1920px;
  margin: auto;
  box-sizing: border-box;
}
.model-container{
  display: flex;
  height: 50%;
}
.model-container-t{
  align-items: flex-start;
  justify-content: space-between;
}
.model-container-d{
  align-items: flex-end;
  justify-content: space-between;
}
#carouselTehobroma{
  min-width: 1136px;
  height: 800px;
  align-self: flex-start;
  margin-right: 25px;
}
#carouselDinizia{
  margin-left: 25px;
  min-width: 1136px;
  height: 800px;
  align-self: flex-end;
}
.view-more-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.view-more-container div{
  font-size: 34px;
  line-height: 30px;
  font-family: var(--font-text);
  font-weight: 900;
  color: var(--primary);
  margin-bottom: 10px;
}
.view-more-container p{
  font-size: 22px;
  line-height: 26px;
  font-family: var(--font-text);
  color: var(--primary);
}
.view-more-container button{
  width: 259px;
  height: 63px;
  background-color: var(--primary);
  font-family: var(--font-text);
  color: var(--white);
  font-size: 22px;
  border-radius: 20px;
  border: none;
}

.accordion-models {
  display: none;
  width: 100%;
}
.accordion-models .accordion-button{ 
  padding-left: 0px;
  padding-right: 0px;
  background: none;
  border-bottom: none;
  width: 100%;
  color: var(--primary);
  font-family: var(--font-text);
  font-weight: 900;
  font-size: 34px;
  box-shadow: none;
}
.accordion-models .accordion-button::after{
  margin-left: 10px;
  
}
.accordion-models .accordion-body{
  padding: 0px;
  color: var(--primary);
  font-family: var(--font-text);
  font-size: 22px;
  line-height: 22px;
}
.modal-dialog{
  max-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
.custom-modal{
  width: 90%;
  max-width: 1856px;
  height: 100%;
  max-height: 1040px;
  background-color: var(--primary);
}
.btn-close-modal:hover{
  background-color: transparent;
}
.btn-close-modal{
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 50px;
  line-height: 50px;
  font-family: var(--font-text);
  background-color: transparent;
  border: none;
  z-index: 9999;
}
.modal-body{
  overflow: hidden;
  padding: 80px 40px;
}
.container-modal{
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
}
.container-carousel{
  width: 60%;
  background-color: red;
}
#carouselModal{
  max-width: 1130px;
  min-width: 60%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  background-color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#carouselModal .carousel-inner{
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
}
#carouselModal .carousel-item{
  height: 100%;
}
#carouselModal img{
  height: 100%;
  object-fit: contain;
}
.info-modal {
  padding-left: 40px;
  width: 40%;
  height: 100%;
  overflow-y: auto;
}
.info-modal .title{
  font-size: 34px;
  line-height: 26px;
  font-family: var(--font-text);
  color: var(--white);
  margin-bottom: 20px;
}
.info-modal p{
  font-size: 22px;
  line-height: 26px;
  font-family: var(--font-text);
  color: var(--white);
}
.btn-carousel{
  width: 51px!important;
  height: 51px!important;
  background-color: #A5CCD6!important;
  opacity: 1!important;
}
.carousel-indicators .active{
  background-color: #8ec5d3!important;
}
.carousel-indicators {
  left: auto;
  right: 6%;
  margin-right: auto;
  margin-left: auto;
}
.carousel-control-prev{
  left: -40px;
  top: 22px;
  z-index: 99999;
  background: transparent!important;
}
.carousel-control-prev span{
  filter: invert(100%);
}
.carousel-control-next{
  right: -40px;
  top: 22px;
  z-index: 99999;
  background: transparent!important;
}
.carousel-control-next span{
  filter: invert(100%);
}

/* ABOUT US */
.about-us-container {
  background-color: #A5CCD6;
  background-image: url(/public//images/texture-1.png);
  background-repeat: repeat-y;
  background-position: right;
  background-size: contain;
  padding: 60px 115px;
  display: flex;
}

.title-about-us {
  border-right: solid var(--primary) 3px;
  padding-right: 100px;
}

.about-us-text {
  padding-left: 85px;
}

.about-us-text p {
  font-family: var(--font-text);
  font-size: 22px;
  line-height: 26px;
}

.about-us-text b {
  text-transform: uppercase;
}

/* MISSION */
.text-blue {
  font-size: 22px;
  font-family: var(--font-text);
  line-height: 26px;
  color: var(--primary);
}

.title-mission {
  width: 400px;
  height: 108px;
  background-image: url(/public/images/trazado.png);
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 15px;
}

.ul-list {
  list-style: decimal;
  color: var(--primary);
  font-family: var(--font-text);
  font-size: 22px;
}

.ul-list li {
  margin-bottom: 10px;
}

.ul-list li::marker {
  color: var(--primary);
  font-family: var(--font-text);
  font-weight: bold;
}

/* DIFFERENCES */

.differences-container {
  width: 100%;
  height: 855px;
  background-image: url(/public/images/fondo-descubri.png), url(/public/images/descubri.png);
  background-size: 75% 100%, 828px 100%;
  background-position: right center, left center;
  background-repeat: no-repeat, no-repeat;
}

.box-differences {
  position: relative;
  height: 100%;
  padding-left: 25%;
}

.p-title {
  padding-left: 17%;
}

.p-box-1 {
  padding-left: 12%;
}

.p-box-2 {
  padding-left: 9%;
}

.p-box-3 {
  padding-left: 7%;
}

.p-box-4 {
  padding-left: 3%;
}

/* CHOOSE US */

.choose-us-container{
  display: flex;
  width: 100%;
  min-height: 511px;
  background-color: var(--primary);
}
.choose-1{
  padding: 70px 70px 70px 115px;
  width: 55%;
  color: white;
}
.choose-2{
  width: 45%;
  background-image: url(/public/images/texture-2.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose-2 div {
  text-align: center;
  width: 604px;
  background-color: var(--white);
  padding: 40px;
}

/* CONTACT */
.contact-container{
  width: 100%;
  padding: 115px;
  background-image: url(/public/images/texture-4.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.form-container{
  border-right: 3px solid var(--primary);
  display: flex;
  justify-content: center;
  padding-right: 85px;
}
.form-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.form-contact input, textarea{
  width: 100%;
  border: 1px solid #707070;
  margin-bottom: 30px;
  padding: 22px;
}
.form-contact textarea{
  min-height: 163px;
  max-height: 220px;
}
.form-contact input::placeholder, textarea::placeholder{
  text-align: center;
  font-weight: 18px;
  font-family: var(--font-text);
}
.btn-contact{
  width: 284px;
  height: 70px;
  color: var(--white);
  font-family: var(--font-text);
  background-color: var(--primary);
  border: none;
}
.contact-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
  font-family: var(--font-text);
  font-size: 22px;
  color: var(--primary);
}
.contact-info a{
  text-decoration: none;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  word-break: break-all;
  color: var(--primary)!important;
}
.contact-info img{
  margin-right: 20px;
}

/* FOOTER */
.footer-container{
  min-height: 430px;
  width: 100%;
  background-image: url('/public/images/footer.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 118px 0px 100px 0px;
}
.logo-footer{
  width: 308px;
}
.social-footer{
  padding-left: 50px;
}
.social-footer a{
  font-size: 24px;
  color: var(--white);
  line-height: 32px;
  font-family: var(--font-title);
  text-decoration: none;
}

/* RIGHTS */
.rights-container{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-rights{
  font-family: 18px;
  color: #707070;
}

@media (min-width: 2350px) {
  /* DIFFERENCES */
  .differences-container {
    background-size: 75% 100%, 1200px 100%;
  }
}

@media (max-width: 1800px) {
  .box-commercialization-info {
    padding: 0 20px 0 175px;
  }
  /* CHARACTERISTICS */
  .box-card {
    width: 400px;
    height: 110px;
  }
  .box-cards-container {
    height: 850px;
    width: auto;
  }
  .c-image {
    width: auto;
    height: 350px;
  }
  /* MODELS */
  #carouselTehobroma{
    min-width: 850px;
    height: 600px;
  }
  #carouselDinizia{
    min-width: 850px;
    height: 600px;
  }
  #models {
    height: 1065px;
  }
}

@media (max-width: 1600px) {
  h3 {
    font-size: 26px;
    line-height: 28px;
    font-family: var(--font-title);
  }
  h4 {
    font-size: 20px;
    font-weight: bold;
  }
  .banner-container {
    height: 80vh;
  }
  .contenedor-frase {
    width: 750px;
  }
  .title-banner {
    right: 115px;
    top: 140px;
    font-size: 40px;
    width: 300px;
    line-height: 40px; 
  }
  /* NAVBAR */
  .navbar {
    padding: 10px 50px;
    font-size: 16px;
  }
  .amz-logo-navbar {
    width: 90px;
  }
  .amz-logo-navbar-disabled {
    width: 90px;
  }
  .social-container a {
    height: 20px;
  }
  /* Commercialization */
  .title-commercialization {
    padding: 30px 400px;
  }
  .box-commercialization-info {
    padding: 30px 20px 30px 175px;
  }
  .title-construction-system {
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .availability-info {
    font-size: 18px;
    line-height: 34px
  }
  .availability-time {
    font-size: 28px;
    line-height: 33px
  }
  .title-list {
    font-size: 25px;
    line-height: 25px;
  }
  .list-modality li::marker {
    font-size: 18px;
  }
  .list-modality li {
    font-size: 16px;
    line-height: 17px;
  }
  .box-availability {
    width: 250px;
    height: 85px;
  }

  /* DIFFERENCES */
  .differences-container {
    background-size: 90% 100%, 828px 100%;
  }
  
  .box-differences {
    padding-left: 10%;
  }
  /* MODELS */
  #carouselTehobroma{
    min-width: 700px;
    height: 500px;
  }
  #carouselDinizia{
    min-width: 700px;
    height: 500px;
  }
  #models {
    height: 950px;
  }
  /* Choose us */
  .choose-1 {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .choose-2 {
    width: 50%;
  }
  .choose-2 div{
    width: 90%;
  }
  /* CHARACTERISTICS */
  .row-container{
    padding: 30px 0px 30px 115px;
  }
  .row-container h3,h4{
    padding-right: 115px;
  }
  .text-description {
    font-size: 16px;
    line-height: 20px;
  }
  .box-cards-container {
    height: min-content;
    width: auto;
    gap: 0px;
  }
  .box-card {
    width: 100%;
    height: 100%;
  }
  .c-image {
    height: 200px;
  }

}
@media (max-width: 1399.98px) {
  .characteristics-container .accordion-button{
    padding-left: 80px;
    padding-right: 80px;
  }
  
  /* NAVBAR */
  .social-container {
    gap: 15px;
  }
  .navbar-brand{
    min-width: auto;
  }
  .nav-link {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  /* Differences */
  .box-differences{
    padding-bottom: 20px;
  }
  /* MODELS */
  #models {
    height: 1000px;
  }
}
@media (max-width: 1299.98px) {
  /* NAVBAR */
  .social-container {
    gap: 10px;
  }
  .nav-link {
    padding: 0px 10px !important;
  }
  /* Differences */
  .differences-container{
    height: auto;
  }
  /* CONTACT */
  .contact-container{
    padding: 30px 80px;
  }
  /* MODELS */
  #carouselTehobroma{
    min-width: 600px;
    height: 450px;
  }
  #carouselDinizia{
    min-width: 600px;
    height: 450px;
  }
  #models {
    height: 900px;
  }
}
@media (max-width: 1199.98px) {
  /* CHARACTERISTICS */
  .image-container{
    padding: 0px;
  }
  .characteristics-container .accordion-header{
    display: flex;
    height: 100px;
  }  
  .characteristics-container .accordion-button{
    background-color: rgba(23, 42, 73, 0.1);
    color: var(--primary);
    font-family: var(--font-titles); 
    font-weight: 600;   
  }
  .characteristics-container .accordion-item{
    border-radius: 0px;
    border: none;
  }
  .row-container{
    flex-direction: column;
  }
  .box-cards-container{
    width: 100%;
  }
  .box-card{
    margin: auto;
    width: 80%;
  }
  .row-container{
    padding: 20px 80px;
  }
  .text-description{
    padding-right: 0px;
  }
  .row-container h3,h4{
    padding-right: 0px;
  }
  /* Commercialization */
  .title-commercialization {
    padding: 65px 80px;
    background-color: #E2E2E2;
  }
  /* NAVBAR */
  .bg-transparent{
    display: none;
  }
  .navbar{
    width: 80px;
    padding: 0px;
    background-color: white!important;
  }
  .navbar .container-fluid{
    padding: 12px;
  }
  .navbar-brand {
    margin: 0px;
    rotate: 90deg;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .amz-logo-navbar{
    width: 56px;
  }
  #navbarNav{
    background-color: white;
    border: none;
    position: absolute;
    top: 0px;
    left: 80px;
    padding: 20px;
    width: calc(100vw - 80px);
  }
  #navbarNav .nav-link {
    border: none;
    margin-bottom: 5px;
  }
  /* HOMEPAGE */
  .social-container {
    display: flex;
    gap: 15px;
  }
  /* Commercialization */
  .commercialization-info-container{
    flex-direction: column;
    height: auto;
  }
  .box-1{
    width: 743px;
    height: 455px;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    padding-left: 0px;
    background-image: url(/public/images/trazado-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .box-commercialization-info{
    padding: 30px 80px;
  }
  .box-2{
    background-color: rgba(242, 202, 153, 0.17);
    background-image: none;
  }
  /* MODELS */
  #models {
    padding: 30px 80px;
    height: 800px;
  }
  #carouselTehobroma{
    min-width: 400px;
    height: 300px;
  }
  #carouselDinizia{
    min-width: 400px;
    height: 300px;
  }
  .title-models{
    padding-left: 80px;
  }
  /* ABOUT US */
  .about-us-container{
    flex-direction: column;
    padding: 50px 80px;
  }
  .title-about-us{
    border-right: none;
    border-bottom: 2px solid var(--primary);
    padding-right: 0px;
  }
  .about-us-text{
    padding: 20px 0px;
  }
  /* MISSION */
  .px-115{
    padding: 20px 80px;
  }
  /* FOOTER */
  .social-footer{
    padding-left: 0px;
    margin-top: 20px;
  }
  .footer-container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .footer-container div{
    border-right: none;
  }
  .footer-container .text-md{
    border-bottom: 2px solid var(--white);
    padding-bottom: 10px;
    text-align: center;
  }
  /* WSP */
  .wsp-icon{
    width: 40px;
    right: 15px;
    bottom: 15px;
  }
  /* Differences */
  .p-title {
    font-size: 65px;
  }
  /* CHOOSE US */
  .choose-1{
    padding-left: 80px;
    padding-right: 80px;
  }
   /* BANNER 2*/
   .title-banner{
      right: 80px;
    }
 .banner{
    height: 400px;
  }
  /* Construction System */
  .construction-system-container{
    padding: 0px 80px;
  }
  .text-construction-system{
    padding-top: 20px;
    padding-left: 0px;
  }
  .title-system {
    border-right: none;
    border-bottom: 2px solid var(--primary);
    padding-right: 0px;
  }
}
@media (max-width: 991.98px) {
  /* CHARACTERISTICS */
  .box-cards-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px 0px;
    height: auto;
  }
  .box-card{
    max-width: 400px;
    width: 100%;
  }
  /* Commercialization */
  .title-commercialization {
    text-align: center;
    padding: 65px 80px;
  }
  /* Differences */
  .differences-container {
    width: 100%;
    background-image: url(/public/images/descubri-mobile.png);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 300px;
  }
  .box-differences{
    padding: 20px 20px 20px 20px!important;
    background-image: url(/public/images/fondo-descubri-mobile.png);
    background-repeat: no-repeat
  }
  .p-title{
    padding-left: 0;
    width: 447px;
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 30px!important;
  }
  .p-box-1 {
    padding-left: 0;
  }

  .p-box-2 {
    padding-left: 0;
  }

  .p-box-3 {
    padding-left: 0;
  }

  .p-box-4 {
    padding-left: 0;
  }
   /* Choose us */
   .choose-us-container {
    flex-direction: column;
    background-image: url(/public/images/texture-2.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 50%;
   }
   .choose-1 {
    width: 100%;
    padding: 20px 80px;
  }
  .choose-2 {
    width: 100%;
    padding: 0px 80px 100px 80px;
    background-image: none;
  }
  .choose-2 div{
    width: 90%;
    max-width: 604px;
  }
  /* CONTACT */
  .contact-container{
    flex-direction: column-reverse;
    background-image: url(/public/images/texture-4-mobile.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto 50%;
  }
  .form-container{
    padding-right: 0px;
    border-right: none;
    padding-top: 30px;
  }
  /* Rights */
  .rights-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    height: auto;
  }
  /* MODELS */
  .model-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .model-container-d{
    flex-direction: column-reverse;
  }
  #models {
    padding: 30px 80px;
    height: auto;
  }
  #carouselTehobroma{
    min-width: auto;
    height: auto;
    align-items: center;
    margin: 0;
  }
  #carouselDinizia{
    min-width: auto;
    height: auto;
    align-items: center;
    margin: 0;
  }
  .view-more-container{
    display: none;
  }
  .accordion-models{
    display: flex;
  }
}
@media (max-width: 767.98px) {
  h3{
    font-size: 30px;
  }
  .construction-system-container{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* BANNER */
  
  /* Commercialization */
  .box-1 {
    width: 375px;
    height: 312px;
    align-items: flex-start;
    padding-left: 80px;
  }
  .box-availability {
    width: 275px;
    height: 85px;
  }
  .title-construction-system {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 10px;
  }
  .number {
    font-size: 100px;
    line-height: 85px;
  }
  .title-commercialization{
    font-size: 30px;
    line-height: 32px;
    padding: 30px 80px;
  }
  /* Choose us */
   .choose-1 h3{
    font-size: 40px;
    margin-bottom: 20px;
   }
   .choose-2 div{
    width: 100%;
    max-width: none;
  }
  /* ABOUT US */
  .about-us-text p {
    font-size: 20px;
    line-height: 21px;
  }
  /* MISSION */
  .title-mission {
    padding: 0px;
    width: 200px;
    height: 56px;
  }
  .text-blue {
    font-size: 20px;
    line-height: 22px;
  }
  .ul-list {
    font-size: 20px;
    line-height: 22px;
  }
  /* MODELS */
  .accordion-models .accordion-button{ 
    font-size: 22px;
    line-height: 22px;
  }
  .accordion-models .accordion-body {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (max-width: 575.98px) {
  h3{
    font-size: 26px;
  }
  h4{
    font-size: 22px;
  }
  /* BANNER */
  .banner-container {
    height: 500px;
  }
  .contenedor-frase {
    width: 580px;
  }
  .title-banner {
    right: 80px;
    top: 20%;
    font-size: 30px;
    width: 195px;
    line-height: 30px;
  }
  /* Commercialization */
  .commercialization-container{
    width: 100%;
    overflow: hidden;
  }
  .title-commercialization {
    font-size: 18px;
    line-height: 19px;
    padding: 25px 80px;
  }
  .box-1 {
    min-width: auto;
    max-width: 95%;
    background-size: cover;
    background-position: bottom right;
    align-items: flex-start;
    padding-left: 80px;
  }
  /* Construction System */
  .title-construction-system{
    width: 88%;
    max-width: 238px;
    font-size: 18px;
    line-height: 18px;
  }
  .number{
    margin-right: 10px;
    font-size: 70px;
    line-height: 70px;
  }
  .box-availability {
    width: 190px;
    height: 70px;
  }
  .availability-info {
    font-size: 16px;
    line-height: 22px;
  }
  .availability-time{
    font-size: 26px;
    line-height: 30px;
  }
  .box-commercialization-info {
    padding: 20px 80px;
  }
  .title-list {
    font-size: 20px;
    line-height: 20px;
  }
  .list-modality li {
    font-size: 16px;
    line-height: 17px;
  }
  /* MORE */
  .more-btn{
    width: 90%;
    font-size: 24px;
    border: none;
  }
  /* MODELS */
  
  /* Differences */
  .box-differences{
    padding: 20px 80px!important;
  }
  .p-title{
    width: auto;
    font-size: 24px;
    line-height: 24px;
  }
  .title-md {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0px;
  }
  .text-md {
    font-size: 16px;
    line-height: 16px;
  }
  /* Choose us */
  .choose-1 h3{
    font-size: 32px;
    line-height: 33px;
  }
  /* CONTACT */
  .contact-info {
    font-size: 15px;
  }
  /* Characteristics */
  .box-card {
    
  }
  .text-description {
    font-size: 16px;
    line-height: 16px;
  }
  .box-cards-container {
    grid-gap: 0px 0px;
  }
  /* ABOUT US */
  .about-us-text p {
    font-size: 16px;
    line-height: 16px;
  }
  /* WSP */
  .wsp-icon{
    width: 35px;
    right: 10px;
    bottom: 15px;
  }
   /* BANNER 2*/
  .banner{
    height: 300px;
  }
  /* MISSION */
  .text-blue {
    font-size: 16px;
    line-height: 16px;
  }
  .ul-list {
    font-size: 16px;
    line-height: 16px;
  }
}